{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-html",
    "stylelint-config-recommended",
    "stylelint-config-recommended-vue"
  ],
  "rules": {
    "at-rule-no-unknown": null
  }
}
